*{
  padding: 0;
  margin: 0;
}
.main-block{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  display: flex;
  justify-content: center;
  align-items: center;
}